:host {
	::ng-deep {
    .input-container input {
      font-size: 14px;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      outline: 0;
      background-color: #fff;
      color: rgba(0,0,0,.87);
      width: 100%;
      padding: 0 15px;
      line-height: 40px;
      height: 40px;
    }

      .autocomplete-container.active {
        z-index: 999;
    }

    .autocomplete-container {
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
        position: relative;
        overflow: visible;
        height: 40px;
    }

    .suggestions-container {
      position: absolute;
      width: 100%;
      background: #fff;
      height: auto;
      box-shadow: 0 2px 5px rgba(0,0,0,.25);
      box-sizing: border-box;
      z-index: 999;
    }

    .suggestions-container ul {
      padding: 0;
      margin: 0;
      max-height: 240px;
      overflow-y: auto;
    }

    .suggestions-container ul li {
      position: relative;
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }

    .suggestions-container ul li a {
      padding: 14px 15px;
      display: block;
      text-decoration: none;
      cursor: pointer;
      color: rgba(0,0,0,.87);
      font-size: 15px;
    }
    
    .suggestions-container ul li:hover {
      background-color: rgba(158,158,158,.18);
     }
    
     .sub-list {
      position: relative;
      margin-top: 3px;
    }

  }
}

 