.weather-icon {
    width: 50px;
    height: 50px;
}

.row-h {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
   
  }
  
.row-h:hover {
    background-color: aqua;
    cursor: pointer;
}

  /* Create four equal columns that sits next to each other */
  .col-h {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }